#purchase-section{
   width: 500px;
   height: 600px;
   background-color: antiquewhite;
    margin: 0 auto;
}
#purchase-section .purchase-product img{
width: 350px;
height: 450px;
border-radius: 10px;
}
#purchase-section  input{
    border: 1px solid grey;
}
