#purchase-section{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
   justify-content: center;
   
}

#purchase-section .purchase-product{
   border: 1px solid grey;
   margin-right:20px ;
   padding: 10px;

}
#purchase-section  input{
    border: 1px solid grey;
}
