#banner{
    position: relative;
    text-align: center;
}
#banner img{
    width: 100%;
}
#banner h1{
    position: absolute;
    text-align: center;
    font-size: 35px;
    color: white;
    top:50%;
    left: 40%;

}
#banner h5{
    position: absolute;
    top: 65%;
    left: 50%;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 900px;
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    position: relative;
     justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px 25px;
    
    }
   
    #sm-banner .banner-box img{
        width: 650px;
        height: 350px;
    }
    
#sm-banner .banner-box h1{
    position: absolute;
    text-align: center;
    font-size: 35px;
    color: white;
    top: 30%;
    left: 5%;
}
#sm-banner .banner-box h2{
    position: absolute;
    top: 45%;
    left: 5%;
    color: white;
    text-align: center;
    font-size: 20px;
}
#sm-banner .banner-box button{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 58%;
    left: 5%;
    border-radius: 17px;
    font-size: 20px;
    border: none;

}
#sm-banner .banner-box button:hover{
    background-color: rgb(106, 161, 72);
    color: white;
}
#sm-banner .banner-box .text-left{
    position: absolute;
    text-align: center;
    font-size: 35px;
    color: white;
    top: 30%;
    left: 5%;
}
#sm-banner .banner-box .text-align{
    position: absolute;
    top: 45%;
    left: 5%;
    color: white;
    text-align: center;
    font-size: 20px;
}
#sm-banner .banner-box .button-left{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 58%;
    left: 5%;
    border-radius: 17px;
    font-size: 20px;
    border: none;

}
